/* The header of the game*/
.header {                   
    text-align:center;                                                                  /*control the background only*/
    background: linear-gradient(to right, #f05053, #e1eec3);                       /* Linear Gradient that changes from left to right Starting at left color endingat right color*/
    border-bottom: 10px solid black;                                                 /*border color*/
    margin:2px;
    padding:2px;
    width:100%;
    height:150px;
}
/*************************************************************************************************************************************************************************************/

/*works on all elements used it to position background to my liking (only used it to learn)*/
*{                                                                                    
    padding:0; 
    margin:0; 
    box-sizing:borderbox;
}
/*************************************************************************************************************************************************************************************/

/*body*/
body {
    box-sizing:borderbox;
    margin:8px;
    padding:8px;
    width:100%;
    height:100%;
    background-image: url("../img/background/background.PNG");   
}
/*************************************************************************************************************************************************************************************/

/* Header images*/
.header img {
    width:155px;
    height:155px;
    margin:-40px;
    margin-top:-56px;
    margin-left:-10px;
}
/*************************************************************************************************************************************************************************************/

.strom{
    float:left;
    transform:translate(0%,-30%);
}

/*YODA image*/
.special img{
    float:center;
    width:130px;
    height:130px;
    animation:ptext 5s 1;
    transform:translate(-100%,5%);
}
/*************************************************************************************************************************************************************************************/

/* animation for YODA */
@keyframes ptext{
    0%{
        transform:translate(-1000%,5%);
  }
}
/*************************************************************************************************************************************************************************************/

/* header 1 "WELCOME TO STARWARS MEMORY GAME" */
 .header1{
    color:black;                                                                     /* color to all header texts*/
    text-transform:uppercase;                                                          /* h1 display in uppercase*/
    font-size:20px;                                                                    /*self explanatory*/
    font-weight:700;                                                                   /*emphasise text*/ 
    letter-spacing:4px;                                                                /*space between the letters of header1*/                                                         
    animation: wtext 8s 1;
 }
/*************************************************************************************************************************************************************************************/

/* FAIL YOU WILL IF PRACTICE YOU NOT */
 .header2{
     left:-80px;
    position:relative;
    font-size:18px;
    text-transform:uppercase;
    font-weight:800;
    color:black;
    animation: text 7s infinite;
 }
/*************************************************************************************************************************************************************************************/

/* CARDS location*/
.card {
    perspective: 1000px;
    transform:rotateY(180deg);                                                       /* this rotates the card on it's Y axis */
    transform-style:3d;
    height:165px;
    width:165px;
    float: left;
    margin: 6px;
    background-color: rgb(161, 18, 42);
}
/*************************************************************************************************************************************************************************************/

/*cards animation*/
.card:active{
    transform:scale(0.97);
    transition:transform 0.1s;
}
/*************************************************************************************************************************************************************************************/

/* Each and every card characters */ 
.card img {
    border:2px solid black;
    position: absolute;
    width:165px;
    height:165px;
}
/*************************************************************************************************************************************************************************************/ 

/* flipped back characteristic*/
.flipped .back {
   display:none;
}
/*************************************************************************************************************************************************************************************/

/* animation for text */
@keyframes text{
0%{
    color:#00000069;
}
35%{
    color:white;
}
}
/*************************************************************************************************************************************************************************************/

/* another animation for first text line */
@keyframes wtext{
    50%{
    color:white;
    letter-spacing:12px;
  }
}
/*************************************************************************************************************************************************************************************/

/* buttons */
.button {
    float:left;
    width:125px;
    height:125px;
    background: linear-gradient(to right, #f05053, #e1eec3);
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    margin: 6px 2px;
    border-radius: 50%;
    font-weight: bolder;
  }
/*************************************************************************************************************************************************************************************/

/* score */
.score {
    color:white;
    font-size:38px;
}
/*************************************************************************************************************************************************************************************/

/* clock */
.clock{
    float:right;
    width:7.5%;
    transform:translate(-25%,0%);
    font-size:20px;
    border:solid 6px black;
    padding: 0px 5px 0px 5px;
    color:red;
}
/*************************************************************************************************************************************************************************************/

/* stop watch */
#watch{
  position:absolute;
  padding: 0px 5px 0px 5px;
  color:red;
  background:rgb(196, 149, 134);
}
/*************************************************************************************************************************************************************************************/

/*Darth vader*/
.darth img{
 float:left;
 transform:translate(0%,-16%);
}
/*************************************************************************************************************************************************************************************/
